@(message: String)
@main("evome's PdfGenerator") {
  <div class="hero-unit">
    <h1>
      Formatting and producing profesional documents should be easy.
    </h1>
    <p>And we'll make it easy for you. With our service, you will save some precious time.</p>
    <p><a class="btn btn-primary btn-large disabled">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Easy to use</h2>
      <p>
      POST your data to our API using an interoperable format.
      </p>
      <p><a class="btn disabled" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Secure</h2>
      <p>
      We only store it during the file compilation and your data is transmitted encrypted with SSL certificates.
      </p>
      <p><a class="btn disabled" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Efficient</h2>
      <p>Generating a document is going to be fast.</p>
      <p><a class="btn disabled" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
  <p>
  &copy; <span class="evome"><a href="http://evome.fr">evome</a></span> 2012. Follow us on
  <a href="http://twitter.com/_evome">Twitter</a>
  and on
  <a href="https://www.facebook.com/pages/Evome/169190089821078">Facebook</a>.
  </p>
  </footer>
}
